[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
cssselect = "*"
beautifulsoup4 = "*"
pyquery = "*"
feedparser = "*"
mysqlclient = "*"
tenacity = "*"
cachecontrol = {extras = ["filecache"], version = "*"}
jsonschema = "*"
mecab-python3 = "*"
mecab = "*"
unidic-lite = "*"
tweepy = "*"
requests-oauthlib = "*"

[requires]
python_version = "3.8"
